.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
ios/App/Pods/
ios/App/App/public/
ios/DerivedData/
ios/build/
*.xcuserstate
xcuserdata/
